{% extends "core/baseLogin.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <!-- div class="bg-info d-flex justify-content-center align-items-center vh-100" -->
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="card mx-auto" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title">Inicio</h5>
                    {{ form | crispy }}
                    <a href={% url 'home' %} class="card-link">Inicio</a>
                    <a href="#" class="card-link">Registrarse</a>
                    <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar sesion </button>
                </div>
            </div>
            
            
        </form>        
    </div>
{% endblock %}